
* {
    z-index: 1;
}
body {
    background-color: #f1f1f1;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1000px;
}
#menu_button {
    cursor: pointer;
    height: 34px;
    margin: 4px 0 0 42px;
    overflow: hidden;
    position: fixed;
    top: 20px;
    width: 60px;
    z-index: 3;
}
#menu_button:hover {
    background-color: #fff;
    border: 1px solid #ddd;
    height: auto;
    margin-left: 28px;
    padding: 10px 0 0 13px;
    top: 12px;
    width: 210px;
}
#menu_button .line {
    border: 4px solid #c1c1c1;
    border-radius: 4px;
    height: 0;
    margin-bottom: 5px;
    position: relative;
    width: 50px;
    z-index: 5;
}
#menu {
    margin-left: -13px;
    margin-top: -5px;
    padding-right: 12px;
    z-index: 4;
}
#menu ul {
    margin-bottom: 5px;
    margin-left: -30px;
}
#menu li {
    border-top: 1px solid #ddd;
    font-size: 14px;
    list-style: outside none none;
    padding: 5px;
    text-transform: uppercase;
}
#menu li:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
#menu a {
    color: #000;
    text-decoration: none;
}
#current_tag {
    background-color: #fff;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 1px 0;
    height: 50px;
    left: 15%;
    position: absolute;
    top: 30px;
    width: 70%;
}
#current_tag p {
    float: left;
    font-size: 20px;
    margin-left: 212px;
}
#current_tag a {
    color: #ff9035;
    text-decoration: none;
}
#current_tag a:hover {
    color: #ff6523;
    cursor: pointer;
    font-weight: 900;
}
#current_tag a:visited {
    color: #dd551f;
}
#current_tag ul {
    background-color: white;
    border-radius: 5px;
    float: left;
    height: 32px;
    left: 500px;
    overflow: hidden;
    z-index: 9999;
}
#current_tag ul:hover {
    height: auto;
}
#current_tag li {
    background-color: #fff;
    font-family: "Neucha",arial,serif;
    font-size: 22px;
    list-style: outside none none;
    margin-left: -40px;
    padding: 2px 10px;
}
#content {
    background-color: #fff;
    border: 1px solid #ddd;
    float: left;
    height: 510px;
    margin: 80px 0 15px 15%;
    padding-bottom: 70px;
    width: 70%;
}
#main_img img {
    display: block;
    margin: 3% auto;
    max-height: 510px;
    max-width: 650px;
    min-height: 450px;
    position: static;
}
#random_img {
    font-family: "Neucha",arial,serif;
    height: 50px;
    width: 200px;
}
#for_resize {
    margin-left: auto;
    margin-right: auto;
}
#about {
    color: #d9e0e7;
    font-family: "Neucha",arial,serif;
    margin-left: 1%;
    position: fixed;
}
#about div {
    color: #d9e0e7;
    font-family: "Neucha",arial,serif;
    font-size: 13px;
}
#about a {
    color: #d9e0e7;
    margin-left: 10px;
    text-decoration: none;
}
#about a:hover {
    color: #000;
}
#banner {
    border: 1px solid #ddd;
    height: 90px;
    margin: 30px auto -30px;
    text-align: center;
    width: 600px;
}
#banner div {
    font-size: 20px;
    margin-top: 10px;
}
#author {
    background-color: #fff;
    border-left: 1px dashed #ddd;
    font-family: "Neucha",arial,serif;
    margin: -35px 25% 0;
    opacity: 0.5;
    width: auto;
}
#author div {
    color: #000;
    font-family: "Neucha",arial,serif;
    font-size: 10px;
    padding: 5px;
    text-align: left;
}
#author a {
    border-right: 1px dashed #d9e0e7;
    color: #d9e0e7;
    font-size: 10px;
    position: fixed;
    text-decoration: none;
    transition: font-size 800ms ease-out 0s;
}
#author a:hover {
    border-bottom: 1px solid #d9e0e7;
    color: #000;
    font-size: 15px;
    padding-left: 3px;
}
#text {
    margin: 0 auto 50px;
    text-align: center;
    width: 50%;
}
#text div {
    color: #000;
    font-family: "Neucha",arial,serif;
    font-size: 13px;
    margin: 10px;
}
#text a {
    color: #000;
    text-decoration: none;
}
#text a:hover {
    border-bottom: 1px solid #d9e0e7;
    color: #000;
}
#footer {
    color: #000;
    float: left;
    font-family: "Neucha",arial,serif;
    font-size: 18px;
    position: fixed;
    text-align: left;
    top: 95%;
    width: 200px;
}
#footer a {
    border-right: 1px dashed #d9e0e7;
    color: #000;
    font-weight: 900;
    text-decoration: none;
}
#footer a:hover {
    border-right: 1px dashed #d9e0e7;
    color: #636363;
    text-decoration: none;
}
#site {
    bottom: 0;
    color: #d9e0e7;
    float: right;
    font-family: "Neucha",arial,serif;
    font-size: 13px;
    left: 0;
    padding: 5px;
    position: fixed;
    text-align: left;
}
#site a {
    color: #d9e0e7;
    padding: 5px;
    text-decoration: none;
}
#site a:hover {
    color: #000;
    padding: 5px;
}
#lol {
    height: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
    position: absolute;
    top: 60%;
    width: 600px;
}
#lol div {
    color: #000;
    font-family: "Neucha",arial,serif;
    font-size: 20px;
    text-align: center;
}
#imgtext {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #000;
    float: left;
    font-family: "Neucha",arial,serif;
    font-size: 16px;
    height: auto;
    margin: 0 auto 50px 22%;
    padding: 20px 30px;
    position: relative;
    text-align: center;
    width: 500px;
}
#imgtext p {
    float: left;
    font-size: 18px;
    margin: 0;
    text-align: justify;
    width: 40%;
}
#imgtext table {
    float: left;
    font-family: arial;
    font-size: 16px;
    width: 60%;
}
#imgtext td {
    padding: 1px 10px 1px 0;
}
.left {
    float: left;
    left: 50px;
    opacity: 0.5;
    position: absolute;
    top: 230px;
}
.left:hover {
    opacity: 1;
}
.left img {
    height: 70px;
}
.right {
    float: right;
    opacity: 0.5;
    position: absolute;
    right: 50px;
    top: 230px;
}
.right:hover {
    opacity: 1;
}
.right img {
    height: 70px;
}
#share_42_author_page {
    float: right;
    margin-right: -224px;
    position: relative;
    width: 38px;
}
#share42 {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    float: right;
    margin-right: 219px;
    margin-top: 0;
    padding: 6px 0 0 6px;
    position: relative;
}
#share42:hover {
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 5px #ddd;
}
#share42 a {
    opacity: 0.5;
}
#share42:hover a {
    opacity: 0.7;
}
#share42 a:hover {
    opacity: 1;
}
#random {
    display: block;
    font-size: 25px;
    left: 44%;
    margin: -63px auto 40px;
    text-align: center;
    text-decoration: none;
    width: 350px;
}
#random a {
    color: #ff9035;
    font-family: "Neucha",arial,serif;
    font-size: 26px;
    font-weight: 900;
    position: relative;
    text-decoration: none;
}
#random a:hover {
    color: #ff6523;
    cursor: pointer;
}
#text_on_tags_place {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    float: left;
    margin-bottom: 50px;
    margin-left: 220px;
    margin-top: 0;
    min-height: 26px;
    padding: 14px;
    position: relative;
    text-align: justify;
    width: 395px;
}
#tags ul {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    float: left;
    font-family: neucha;
    font-size: 18px;
    margin-left: 220px;
    margin-top: 0;
    min-height: 26px;
    padding: 9px;
    position: relative;
    width: 400px;
}
#tags li {
    list-style: outside none none;
}
#tags li a:hover {
    color: #3c4a9b;
}
#tags li a {
    color: #6e9dce;
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.more_image_info{
	background-color: #fff;
    border-radius: 5px;
    font-family: arial;
    font-weight: 900;
    left: 50%;
    margin-left: -100px;
    margin-top: -70px;
    padding: 8px 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}
.more_image_info:hover{
	cursor:pointer;
	background-color:#00E7FF;
}
#previews {
    background-color: #fff;
    border: 1px solid #ddd;
    float: left;
    margin: 80px auto 15px 15%;
    min-height: 510px;
    padding-bottom: 20px;
    width: 70%;
}
#previews .price {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #000;
    font-size: 22px;
    margin-left: 153px;
    margin-top: -38px;
    position: absolute;
    text-align: center;
    width: 52px;
    z-index: 0;
}
#previews a {
    float: left;
    padding: 0 7px;
}
#previews img {
    border: 5px solid #f7f7f7;
    margin-left: 8px;
    margin-top: 15px;
}
#previews img:hover {
    border: 5px solid #cecece;
}
#author_page {
    background-color: #fff;
    border: 1px solid #ddd;
    height: 400px;
    margin: 80px auto 15px;
    padding-bottom: 70px;
    width: 90%;
}
#about_author {
}
#about_author h1 {
    font-family: "Neucha",arial,serif;
    margin-bottom: 18px;
    margin-left: 30px;
    margin-top: 15px;
}
#about_author p {
    float: left;
    font-family: "Neucha";
    font-size: 20px;
    margin-left: 20px;
    margin-top: -6px;
    text-align: justify;
    width: 390px;
}
#about_author img {
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 430px;
}
#about_author button {
    background-color: #6e9dce;
    border: 1px solid #ddd;
    float: right;
    font-family: arial;
    font-size: 19px;
    height: 38px;
    margin-right: 12%;
    margin-top: 0;
    width: 250px;
}
#about_author button:hover {
    background-color: #5164d1;
    cursor: pointer;
}
.author_page_links {
    font-family: arial;
    font-size: 18px;
    margin: 0;
}
.author_page_links p {
    float: left;
    font-weight: 600;
    margin: 0 0 0 10px;
    padding-top: 7px;
}
.author_page_links ul {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 219px;
    margin-top: 0;
    min-height: 38px;
    padding: 3px;
    position: absolute;
    width: 424px;
}
.author_page_links li {
    float: left;
    list-style: outside none none;
    margin-left: 5px;
    padding: 7px 7px 0;
}
.author_page_links li:last-of-type {
    border: medium none;
}
.author_page_links a {
    color: #ff9035;
    text-decoration: none;
}
.author_page_links a:hover {
    color: #ff6523;
    cursor: pointer;
    font-weight: 900;
}
#index_previews {
    height: 160px;
    margin: 0 auto 10px;
    width: 90%;
}
#index_previews .price {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #000;
    font-size: 21px;
    margin-left: 98px;
    margin-top: -35px;
    position: relative;
    text-align: center;
    width: 52px;
    z-index: 10;
}
#index_previews .more {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border: 5px solid #f7f7f7;
    color: #fff;
    font-size: 21px;
    height: 94px;
    margin-left: 0;
    margin-top: -153px;
    padding-top: 56px;
    position: absolute;
    text-align: center;
    width: 149px;
    z-index: 11;
}
#index_previews .more:hover {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    border: 5px solid #cecece;
}
#index_previews a {
    float: left;
    margin-left: 17px;
    text-decoration: none;
}
#index_previews img {
    border: 5px solid #f7f7f7;
    width: 150px;
    z-index: 5;
}
#index_previews img:hover {
    border: 5px solid #cecece;
}
#order_form {
    background-color: #fff;
    border: 1px solid #ddd;
    height: auto;
    margin-left: 230px;
    margin-top: 100px;
    position: fixed;
    width: 650px;
    z-index: 3;
}
#order_form form {
    padding: 40px 90px 0 30px;
}
#order_form p {
    float: left;
    margin: 0 0 5px;
    width: 100%;
}
#order_form input {
    float: left;
    margin-bottom: 22px;
    width: 100%;
}
#order_form textarea {
    width: 100%;
}
#order_form_bg {
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
#close_order_form {
    font-size: 22px;
    left: 89%;
    position: absolute;
    top: 12px;
}
#close_order_form:hover {
    cursor: pointer;
    font-weight: 900;
}
#order_form_sumbit_button {
    background-color: #6e9dce;
    border: 1px solid #ddd;
    font-family: arial;
    height: 36px;
    margin-top: 11px;
}
#order_form_sumbit_button:hover {
    background-color: #5164d1;
    cursor: pointer;
}
#order_answer, #order_error, #order_error2 {
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 24px;
    height: 110px;
    margin-left: 260px;
    margin-top: 100px;
    padding-top: 70px;
    position: fixed;
    text-align: center;
    width: 500px;
    z-index: 3;
}
#order_button button {
    background-color: #6e9dce;
    border: 1px solid #ddd;
    font-family: arial;
    font-size: 16px;
    height: 37px;
    margin-left: 370px;
    margin-top: -80px;
    text-align: center;
    text-transform: uppercase;
    width: 260px;
}
#order_button button:hover {
    background-color: #5164d1;
    cursor: pointer;
}
#order_button a {
    color: #000;
    height: 29px;
    text-decoration: none;
}
