
* {
    z-index: 1;
}
body {
    background-color: #f1f1f1;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1000px;
}
#current_tag {
    background-color: #fff;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 1px 0;
    height: 50px;
    left: 149px;
    position: absolute;
    top: -50px;
    width: 700px;
}
#current_tag p {
    float: left;
    font-size: 20px;
    margin-left: 212px;
}
#current_tag a {
    color: #ff9035;
    text-decoration: none;
}
#current_tag a:hover {
    color: #ff6523;
    cursor: pointer;
    font-weight: 900;
}
#current_tag ul {
    background-color: white;
    border-radius: 5px;
    float: left;
    height: 32px;
    left: 500px;
    overflow: hidden;
    z-index: 9999;
}
#current_tag ul:hover {
    height: auto;
}
#current_tag li {
    background-color: #fff;
    font-family: "Neucha",arial,serif;
    font-size: 22px;
    list-style: outside none none;
    margin-left: -40px;
    padding: 2px 10px;
}
#content {
    background-color: #fff;
    border: 1px solid #ddd;
    height: 510px;
    margin: 80px auto 15px;
    padding-bottom: 70px;
    width: 70%;
}
#main_img img {
    display: block;
    margin: 3% auto;
    max-height: 510px;
    max-width: 650px;
    min-height: 450px;
    position: static;
}
#main_img {
}
#random_img {
    font-family: "Neucha",arial,serif;
    height: 50px;
    width: 200px;
}
#for_resize {
    margin-left: auto;
    margin-right: auto;
}
#about {
    color: #d9e0e7;
    font-family: "Neucha",arial,serif;
    margin-left: 1%;
    position: fixed;
}
#about div {
    color: #d9e0e7;
    font-family: "Neucha",arial,serif;
    font-size: 13px;
}
#about a {
    color: #d9e0e7;
    margin-left: 10px;
    text-decoration: none;
}
#about a:hover {
    color: #000;
}
#banner {
    border: 1px solid #ddd;
    height: 90px;
    margin: 30px auto -30px;
    text-align: center;
    width: 600px;
}
#banner div {
    font-size: 20px;
    margin-top: 10px;
}
#author {
    background-color: #fff;
    border-left: 1px dashed #ddd;
    font-family: "Neucha",arial,serif;
    margin: -35px 25% 0;
    opacity: 0.5;
    width: auto;
}
#author div {
    color: #000;
    font-family: "Neucha",arial,serif;
    font-size: 10px;
    padding: 5px;
    text-align: left;
}
#author a {
    border-right: 1px dashed #d9e0e7;
    color: #d9e0e7;
    font-size: 10px;
    position: fixed;
    text-decoration: none;
    transition: font-size 800ms ease-out 0s;
}
#author a:hover {
    border-bottom: 1px solid #d9e0e7;
    color: #000;
    font-size: 15px;
    padding-left: 3px;
}
#text {
    margin: 0 auto 50px;
    text-align: center;
    width: 50%;
}
#text div {
    color: #000;
    font-family: "Neucha",arial,serif;
    font-size: 13px;
    margin: 10px;
}
#text a {
    color: #000;
    text-decoration: none;
}
#text a:hover {
    border-bottom: 1px solid #d9e0e7;
    color: #000;
}
#footer {
    float: left;
    position: fixed;
    text-align: left;
    top: 95%;
    width: 200px;
	color: #000;
    font-family: "Neucha",arial,serif;
    font-size: 18px;
}
#footer a {
    border-right: 1px dashed #d9e0e7;
    color: #000;
    text-decoration: none;
}
#footer a:hover {
    border-right: 1px dashed #d9e0e7;
    color: #636363;
    text-decoration: none;
}
#site {
    bottom: 0;
    color: #d9e0e7;
    float: right;
    font-family: "Neucha",arial,serif;
    font-size: 13px;
    left: 0;
    padding: 5px;
    position: fixed;
    text-align: left;
}
#site a {
    color: #d9e0e7;
    padding: 5px;
    text-decoration: none;
}
#site a:hover {
    color: #000;
    padding: 5px;
}
#lol {
    height: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
    position: absolute;
    top: 60%;
    width: 600px;
}
#lol div {
    color: #000;
    font-family: "Neucha",arial,serif;
    font-size: 20px;
    text-align: center;
}
#imgtext {
    background-color: #fff;
    border: 1px solid #ddd;
    float: left;
    height: auto;
    margin: 0 auto 50px 22%;
    padding: 20px 30px;
    position: relative;
    text-align: left;
    width: 500px;
}
#imgtext div {
    color: #000;
    font-family: "Neucha",arial,serif;
    font-size: 16px;
    text-align: center;
}
.left {
    border: 1px solid #ddd;
    float: left;
    left: 50px;
    position: absolute;
    top: 300px;
}
.right {
    border: 1px solid #ddd;
    float: right;
    position: absolute;
    right: 50px;
    top: 300px;
}
#share42 {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    float: right;
    margin-right: 219px;
    margin-top: 0;
    padding: 6px 0 0 6px;
    position: relative;
}
#share42:hover {
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 5px #ddd;
}
#share42 a {
    opacity: 0.5;
}
#share42:hover a {
    opacity: 0.7;
}
#share42 a:hover {
    opacity: 1;
}
#random {
    display: block;
    font-size: 25px;
    left: 44%;
    margin: -63px auto 40px;
    text-align: center;
    text-decoration: none;
    width: 350px;
}
#random a {
    color: #ff9035;
    font-family: "Neucha",arial,serif;
    font-size: 26px;
    font-weight: 900;
    position: relative;
    text-decoration: none;
}
#random a:hover {
    color: #ff6523;
    cursor: pointer;
}
#tags {
}
#tags ul {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    float: left;
    margin-left: 220px;
    margin-top: 0;
    min-height: 26px;
    padding: 9px;
    position: relative;
    width: 400px;
}
#tags li {
    list-style: outside none none;
}
#tags li a:hover {
    color: #3c4a9b;
}
#tags li a {
    color: #6e9dce;
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    position: relative;
    text-align: center;
    text-decoration: none;
}
#previews {
    border: 1px solid #ddd;
    margin: 80px auto 15px;
    min-height: 510px;
    padding-bottom: 70px;
    width: 70%;
	background-color: #fff;
}
#previews a {
    padding: 3px;
}
#previews img {
    margin-left: 20px;
    margin-top: 15px;
    -webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
#previews img:hover{
	-webkit-filter: contrast(140%);
	filter: contrast(140%);
}
#author_page {
    border: 1px solid #ddd;
    height: 450px;
    margin: 80px auto 15px;
    padding-bottom: 70px;
    width: 90%;
}
#about_author {
}
#about_author h1 {
    font-family: "Neucha",arial,serif;
    margin-bottom: 18px;
    margin-left: 30px;
    margin-top: 15px;
}
#about_author p {
    float: left;
    font-family: Comic Sans MS;
    margin-left: 20px;
    margin-top: -6px;
    text-align: justify;
    width: 310px;
}
#about_author img {
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 500px;
}
#about_author button {
    background-color: #ffb477;
    border: 2px solid #ddd;
    border-radius: 10px;
    float: left;
    font-size: 18px;
    height: 38px;
    margin-left: 170px;
    margin-top: 0;
    width: 250px;
}
#about_author button:hover {
    background-color: #ff913d;
    border: 3px solid #ddd;
    cursor: pointer;
    margin-top: 1px;
}
.author_page_links p {
    float: left;
    margin: 0;
    padding: 9px;
}
.author_page_links ul {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 219px;
    margin-top: 0;
    min-height: 38px;
    padding: 3px;
    position: absolute;
    width: 424px;
}
.author_page_links li {
    border-right: 1px solid #ddd;
    float: left;
    list-style: outside none none;
    margin: 5px;
    padding: 5px;
}
.author_page_links li:last-of-type {
    border: medium none;
}
.author_page_links a {
    color: #ff9035;
    text-decoration: none;
}
.author_page_links a:hover {
    color: #ff6523;
    cursor: pointer;
    font-weight: 900;
}
#share_42_author_page {
}
